{% extends "SdkBundle::template.html.twig" %}

{% block title %}Setup Confirmation{% endblock %}

{% block content %}

      <h1>SDK is Configured</h1>
      <p>A Lead Class has been generated from default settings. This can be modified via the API.</p>
      <p>Alternatively, you can also change configuration settings to use a static Entity contained within another Bundle.</p>

{% endblock content %}